<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="getPersonsFromService()">Show all persons</button>
  <p *ngFor="let p of persons[0]">{{p.name}}  <button (click)=
    "showInfo(p._id)">Show info</button><button (click)=
    "deletePerson(p._id)">Delete</button><button (click)=
    "editPerson(p._id, p.name)">Edit</button></p>
    <p>Showing id: {{id}}</p>
    <form (submit)="onSubmit()" class ="postForm">
      <!-- use the json pipe to see how newTask changes in real time -->
      <p> {{ newPerson | json }} </p>
      <input type="text" name="newPerson.name" [(ngModel)]="newPerson.name" />
      <input type="submit" value="Add person!" />
  </form>
    <form (submit)="onSubmitUpdate()" class ="postForm">
      <p> {{ updatedPerson | json }} </p>
      <input type="text" name="updatedPerson.name" [(ngModel)]="updatedPerson.name" />
      <input type="submit" value="Update person!" />
  </form>
</div>


<router-outlet></router-outlet>
